body {
  margin: 0px;
  padding: 0px;
}
main {
  margin: 0 auto;
  width: 50%;
  background-color: whitesmoke;
  border: 1px solid gray;
  /* height: max-content; */
}
main header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: white;
}
main header .title {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: bold;
  width: 50%;
  margin: 0%;
  padding: 1%;
}
main header .title:hover {
  color: gray;
}

.btn-header {
  width: 20%;
}
.btn-header button {
  margin: 2px;
  padding: 10%;
  background-color: gray;
  border: 1px solid gray;
  border-radius: 50%;
  outline: none;
}
.btn-header button:hover {
  background-color: whitesmoke;
}

.display-result {
  height: 100px;
  background-color: whitesmoke;
  overflow: auto;
}
ul {
  margin: 0%;
  padding: 0%;
}
li {
  height: 20%;
  font-size: 30px;
  padding: 10px;
  border-top: 1px solid gray;
  list-style-type: none;
}
.display-input {
  width: 100%;
}
.display-input input {
  height: 60px;
  width: 99%;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  outline: none;
}
.button-container {
  margin: 10px;
  padding: 10px;
}
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.buttons button {
  padding: 3%;
  margin: 3%;
  flex: 10%;
  flex-grow: 1;
  /* margin-bottom: %; */
}
#eq {
  flex-grow: 9;
}
